.logo {
    color: #FFFFFF;
    background-color: #235347;
    height: 100px;
}

.name {
    background-color: #47c6be;
    color: #FFFFFF;
    height:100px;
}

.account {
    background-color: #ca19b0;
    height: 100px;
}

.requirements {
    top: 10%;
    height: 10000px;
    background-color: #837872;
}

.camera{
    position: fixed;
    height: 600px;
}