.logo {
    color: #FFFFFF;
    background-color: #235347;
    height: 14vh;
}

.name {
    background-color: #47c6be;
    color: #FFFFFF;
    height:14vh;
}

.account {
    background-color: #ca19b0;
    height:14vh;
}

.requirements {
    top: 10%;
    height: 100vh;
    background-color: #837872;
}

.camera{
    position: fixed;
    height: 600px;
}